<section class="ui-view">


  <div class="container">

    <div class="container"><h2>Zone : {{zone}}</h2></div>
    <hr></hr>
    <div id="exTab2" class="container">	
    <ul class="nav nav-tabs">
        <li class="active"><a  href="#1" data-toggle="tab">Primary domain</a></li>
        <li><a href="#2" data-toggle="tab">Managed domains</a></li>
        <li><a href="#3" data-toggle="tab">TTL</a></li>
        <li><a href="#4" data-toggle="tab">SOA</a></li>
        <li><a href="#5" data-toggle="tab">NS</a></li>
        <li><a href="#6" data-toggle="tab">ROOT IPv4</a></li>
        <li><a href="#7" data-toggle="tab">ROOT IPv6</a></li>
        <li><a href="#8" data-toggle="tab">A</a></li>
        <li><a href="#9" data-toggle="tab">AAAA</a></li>
        <li><a href="#10" data-toggle="tab">CNAME</a></li>
        <li><a href="#11" data-toggle="tab">MX</a></li>
        <li><a href="#12" data-toggle="tab">TXT</a></li>
        <li><a href="#13" data-toggle="tab">SRV</a></li>
        <li><a href="#14" data-toggle="tab">SPF</a></li>
    </ul>
          <div class="tab-content ">
            <div class="tab-pane active" id="1">
                <table  class="table table-bordered table-hover table-condensed">
                    <tr   >
                      <td style="width:45%" >
                          <span class="pull-left" e-name="name" e-form="rowform" e-required>
                            {{ main_zone }}
                          </span>
                      </td>
                  </table>
                  <br></br>
                  <button ng-click="applyZoneConfig(main_zone)"  class="pull-right btn btn-primary">create zone configuration</button> 
            </div>
            <div class="tab-pane" id="2">
              <h3>Notice the gap between the content and tab after applying a background color</h3>
            </div>
            <div class="tab-pane" id="3">
              <h3>add clearfix to tab-content (see the css)</h3>
            </div>
          </div>
      </div>
    
    <hr></hr>
      
</section>
