<section class="ui-view">
	<h1>SSH Keys Settings</h1>
	<table  class="table table-bordered table-hover table-condensed">
            <tr  class="editable-row" ng-repeat="user_id in settings" >
              <td  style="text-align:left;width:10%;">{{user_id.name}}</td>
              <td style="width:20%;text-align:left;">
                  <a  href="#"  editable-text="user_id.ssh_user" onaftersave="UpdateSSH_User(user_id, user_id.ssh_user)" >
                      {{ user_id.ssh_user || 'No User Defined' }}
                  </a>  
              </td>
              <td >
                  <a  href="#"  editable-textarea="user_id.ssh_key" onaftersave="UpdateSSH_Key(user_id, user_id.ssh_key)" >
                      <pre>{{ user_id.ssh_key || 'No Key Defined' }}</pre>
                  </a>        
              </td>
              <td style="width:20%;">
                  <div class="buttons" >
                    <button class="btn btn-danger editable-table-button btn-xs" ng-click="removeSSH_ID(user_id.name)">Delete</button>
                  </div>
                </td>
            </tr>
    </table>
    <br></br>
    <button type="button" class="btn btn-primary btn-sm pull-right" ng-click="open('app/pages/ui/modals/modalTemplates/addSSHKey.html')" >Add Ssh Key</button>

</section>
