<section class="ui-view">
	<h1>DashBoard for user {{username}}</h1>
	<p class="lead">This plugin is powered by a WordPress plugin providing custom API's and routes.</p>

	<hr class="mt-4">

	<h2 class="h4 mt-4">More Information</h2>
	<ul class="mt-3">
		<li><a ui-sref="weather"><strong>Local Weather Forecast API Example</strong></a></li>
		<li><a href="https://github.com/Kevinlearynet/wordpress-angular-plugin">GitHub Source Code</a></li>
		<li><a href="https://www.kevinleary.net/blog/">Blog Post Tutorial</a></li>
		<li><a href="https://www.kevinleary.net/about/">About the Author</a></li>
	</ul>

</section>
